.product__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: center;
}

.product-image__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 20rem;
  margin: 1rem;
}

.product-image__container img {
  border-radius: 3px;
  width: 350px;
  height: 350px;
  margin-top: 0.7rem;
}

.name {
  font-size: 36px;
}

.price {
  font-size: 28px;
  font-weight: 400;
  margin: 20px 0 20px;
}

.product-description__container {
  border-radius: 8px;
  padding: 30px;
  flex: 1;
  margin-top: 2rem;
}

.product {
  font-size: 12px;
}

label {
  margin: 20px 0;
  display: block;
}

input {
  width: 30px;
  padding: 5px;
}

button {
  background-color: rgb(62, 43, 43);
  border: none;
  padding: 10px;
  color: white;
  font-size: 24px;
  border-radius: 4px;
  margin: 20px 0;
  cursor: pointer;
}

button:hover {
  background-color: rgb(156, 134, 134);
  cursor: pointer;
}
