<footer>
  <div class="container">
    <a routerLink="" class="logo">
      <img src="/assets/img/logo.png" width="50px" alt="logo"
    /></a>
    <nav>
      <ul>
        <li>
          <a
            routerLink="/produtos"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >Produtos</a
          >
        </li>

        <li>
          <a routerLink="/contato" routerLinkActive="active-link">Contato</a>
        </li>

        <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
        <a href="#" target="_blank"><i class="bi bi-youtube"></i></a>
        <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
        <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
      </ul>
    </nav>
  </div>
</footer>
