.cart-title {
  font-size: 44px;
  font-weight: 700;
  padding: 8px;
  margin: 50px;
}

li {
  display: flex;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px 0;
  height: 100px;
  width: 80rem;
  align-items: center;
  justify-content: space-between;
  margin: 50px;
}

img {
  width: 100px;
  height: 100px;
  display: block;
}

.remove-button {
  background-color: red;
  border: none;
  color: white;
  padding: 20px;
  height: 100%;
  transition: 0.2s all;
}

.remove-button:hover {
  filter: brightness(0.9);
}

.cart-total {
  font-size: 24px;
  color: rgb(100, 4, 100);
  font-weight: 700;
  padding: 8px 0;
  margin: 50px;
}

input {
  width: 30px;
  text-align: center;
}

.buy-button {
  background-color: rgb(62, 43, 43);
  border: none;
  color: white;
  padding: 10px;
  font-size: 22px;
  transition: 0.3s all;
  border-radius: 4px;
  margin-left: 50px;
  margin-top: -90px;
}

.buy-button:hover {
  background-color: rgb(156, 134, 134);
  cursor: pointer;
  opacity: 0.9;
}
